body{
    border-style: solid;
    border-color: blue;
    margin: 0;
    padding: 0;
}

h1{
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(49, 46, 46);
    margin: 0;
    padding: 0;
    
}

/*Nav List Styling*/
ul {
    list-style-type: none;
    float: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #da5959fa;
}

li {
    float: right;
}

li a {
    display:block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #ff1c1cfa;
}
